<!-- index.html by Jacob Brown, 12/01/18 -->
<!-- for Project 7, CIS 322, Fall 2018   -->
<html><head>
<title>Index page</title>
</head>
<body>

<h1>Welcome to the homepage</h1>

{% if current_user.is_authenticated %}
   Welcome {{ current_user.username }}!
{% endif %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ messages }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block body %}{% endblock %}

<p>

<h4>Select from the menu below:</h4>

<table>
<tr>

<td>
<form action="/login">
    <button type="submit">Login</button>
</form>
</td>

<td>
<form action="/register">
    <button type="submit">Register New User</button>
</form>
</td>

<td>
<form action="/reauth" method="POST">
    <button type="submit">Reauthenticate</button>
</form>
</td>

<td>
<form action="/logout">
    <button type="submit">Logout</button>
</form>
</td>

</tr>
</body>
</html>
