<!-- register.html by Jacob Brown, 11/30/18 -->
<!-- for Project 7, CIS 322, Fall 2018      -->

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html><head>
<title>Register New User</title>

<body>
<h1>Register New User</h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ messages }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block body %}{% endblock %}

<form action="/register", method="POST", autocomplete="off">
    {{ form.csrf_token }}
    {{ form.username.label }} {{ form.username(size=20) }}<p>
    {{ form.password.label }} {{ form.password(size=20) }}<p>
    <input type="submit" />
</form>

</body>
</html>
