<!-- display.html by Jacob Brown, 11/12/18 -->
<!-- for Project 5, CIS 322, Fall 2018     -->

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html><head>

<title>Controle Times</title>

</head>

<body>

<h3>Controle times: </h3>

<h4>{{ msg }}</h4>

<table>
{% for item in items %}
  <tr>
      <td colspan=4>{{item.distance}}km ACP BREVET</td>
  </tr>

  <tr>
      <td>Checkpoint</td>
      <td></td>
      <td>Date</td>
      <td>Time</td>
  </tr>

  <tr>
      <td>==========</td>
      <td></td>
      <td>====</td>
      <td>====</td>
  </tr>

  <tr>
      <td align=right>0km</td>
      <td align=right>start:</td>
      <td>{{item.start_open.strftime('%m-%d')}}</td>
      <td>{{item.start_open.strftime('%H:%M')}}</td>
  </tr>

  <tr>
      <td></td>
      <td align=right>&nbsp;&nbsp;&nbsp;&nbsp;close:</td>
      <td>{{item.start_close.strftime('%m-%d')}}</td>
      <td>{{item.start_close.strftime('%H:%M')}}</td>
  </tr>
  
  <tr>
      <td colspan=4></td>
  </tr>

  <tr>
      <td align=right>{{item.control}}km</td>
      <td align=right>open:</td>
      <td>{{item.control_open.strftime('%m-%d')}}</td>
      <td>{{item.control_open.strftime('%H:%M')}}</td>
  </tr>
  
  <tr>
      <td></td>
      <td align=right>close:</td>
      <td>{{item.control_close.strftime('%m-%d')}}</td>
      <td>{{item.control_close.strftime('%H:%M')}}</td>
  </tr>
  
  <tr>
      <td colspan=4><hr width=100%></td>
  </tr>
{% endfor %}
</table>

</body></html>

