<!-- error.html by Jacob Brown, 11/12/18 -->
<!-- for Project 5, CIS 322, Fall 2018   -->
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html><head>

<title>Error Page</title>

</head><body>

<h3>{{ error }}</h3>
<h4>Go back and try again</h4>

</body></html>
